---
import Layout from "@/layouts/Layout.astro"
import Error from "@/components/Error.astro"

export const prerender = true
---

<Layout
  title="Página no encontrada - Carnicería San Martin"
  description="Lo sentimos, no pudimos encontrar la página que buscas en Carnicería San Martin"
>
  <main>
    <Error
      error="404"
      mensaje="Página no encontrada"
      contexto="¡Hola! Lo sentimos, pero no pudimos encontrar la página que buscabas. Por favor, verifica que la dirección URL sea correcta."
    />
  </main>
</Layout>
