---
import InstagramIcon from "@/icons/Instagram.astro"
---

<nav class:list={`${Astro.props.class}`}>
  <ul
    class="flex flex-row items-center gap-x-6"
    aria-label="Redes sociales de Carnicería San Martin"
  >
    <li>
      <a
        target="_blank"
        rel="noopener"
        aria-label="Instagram de Carnicería San Martin, se abrirá en una nueva pestaña"
        href="https://www.instagram.com/carniceriasanmartin"
        class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
      >
        <InstagramIcon
          class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
        />
      </a>
    </li>
  </ul>
</nav>
