---

---

<section id="sobre-nosotros" class="py-16 px-10 bg-[var(--background-color)]">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-bold text-center mb-8 text-gray-50">
      Sobre Nosotros
    </h2>
    <p
      class="text-lg text-gray-200 leading-relaxed text-center max-w-3xl mx-auto"
    >
      En Carnicería San Martín, ofrecemos carnes de Categoría V Nacional,
      garantizando calidad y frescura en cada corte. Cumplimos con estrictos
      protocolos de higiene y desinfección, asegurando un entorno seguro.
      Además, nuestro equipo capacitado está listo para asesorar a los clientes,
      brindando una experiencia de compra confiable y satisfactoria.
    </p>
  </div>
</section>
