---
import { ClientRouter } from "astro:transitions"

interface Props {
  title?: string
  description?: string
}

const {
  title = "Carnicería San Martin",
  description = "Carnicería San Martin - Ofrecemos los cortes más frescos y de calidad, con la distinción de contar con la categoría V Nacional. Garantizamos una experiencia única en cada compra, brindando lo mejor de la carne para ti y tu familia.",
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="background-animation"></div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary-color: #dc2626;
    --secondary-color: #991b1b;
    --text-color: #ffffff;
    --light-color: #ffffff;
    --gray-color: #666666;
    --header-height: 70px;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
    background: #000;
    background-image: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%),
      radial-gradient(125% 125% at 50% 10%, #000 40%, #dc2626 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(
      circle at 50% 50%,
      #dc26264d 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    pointer-events: none;
  }

  body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.05;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
